model-development/models/*
!model-development/models/.gitkeep

model-development/data/processed/*
!model-development/data/processed/.gitkeep

ml-autocomplete-api/node_modules
ml-autocomplete-api/cdk.out
ml-autocomplete/*.js
ml-autocomplete/.cdk.staging
ml-autocomplete/*.d.ts
!ml-autocomplete/jest.config.js

.env